player-connection-mode=Listen
player-connection-guid=3968872589
player-connection-debug=0
player-connection-project-name=BiogasVillageSim
player-connection-ip=172.24.96.1
player-connection-ip=192.168.0.33
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=999cebe27c5d4036ad5165d43b69cebe
